join-domain:

  windows:
    username:
    encrypted_password:
    key:
    oupath:

  linux:
    username:
    encrypted_password:
    key:
    oupath:

  # Programable path-elements for retrieving the PBIS self-installing
  # archive file.
  #repo_uri_host: 'http://S3BUCKET.F.Q.D.N'
  #repo_uri_root_path: 'beyond-trust/linux/pbis'

  # Directories where PBIS is installed to the system
  #install_bin_dir: '/opt/pbis'
  #install_var_dir: '/var/lib/pbis'

  # AD-connector Tool
  # ad_connector: 'pbis'

  # List of RPMs to look for
  #conectorRpms:
  #  - "MFEcma"
  #  - "MFErt"

  # List of critical files to look for
  # checkFiles:
  #   - "agentprvkey.bin"

  # Name of installer and hash-file to download
  #package_name: 'pbis-open-8.3.0.3287.linux.x86_64.rpm.sh'
  #package_hash: 'pbis-open-8.3.0.3287.linux.x86_64.rpm.sh.SHA512'

