join-domain:

  windows:
    domain_name:
    username:
    encrypted_password:
    key:
    oupath:

  linux:
    # Domain-specific elements
    #ad_domain_fqdn: 'aws.lab'
    #ad_domain_short: 'AWSLAB'
    #join_svc_acct: 'svc_domjoin_aws'
    #encrypted_password: 'U2FsdGVkX18ThTf5km4IcWfAlAgbVwPn539BjI6fEpQmXa0B30gVRIK2qya9zPwh'
    #key: 'Unlock'
    #oupath:

    # List of groups to configure for access
    #sudoer_groups:
    #  - linux^admins
    #login_groups:
    #  - linux^operators


    # Programable path-elements for retrieving the PBIS self-installing
    # archive file.
    #repo_uri_host: 'http://S3BUCKET.F.Q.D.N'
    #repo_uri_root_path: 'beyond-trust/linux/pbis'
  
    # Name of installer and hash-file to download
    #package_name: 'pbis-open-8.3.0.3287.linux.x86_64.rpm.sh'
    #package_hash: 'pbis-open-8.3.0.3287.linux.x86_64.rpm.sh.SHA512'
  
    # Directories where PBIS is installed to the system
    #install_bin_dir: '/opt/pbis'
    #install_var_dir: '/var/lib/pbis'
    #install_db_dir: '/var/lib/pbis/db'
  
    # AD-connector Tool
    # ad_connector: 'pbis'
  
    # List of RPMs to look for
    #connectorRpms:
    #  - 'pbis-open-legacy'
    #  - 'pbis-open'
    #  - 'pbis-open-devel'
    #  - 'pbis-open-gui'
    #  - 'pbis-open-upgrade'
  
    # List of critical files to look for
    #checkFiles:
    #  - 'registry.db'
    #  - 'sam.db'
    #  - 'lwi_events.db'
    #  - 'lsass-adcache.filedb.FQDN'
