join-domain:

  lookup:
    ##################################
    # Windows-specific pillar settings
    ##################################

    # Required Settings
    dns_name:
    netbios_name:
    username:

    # Mutually Exclusive Required Settings
    encrypted_password:
    key:
    # or
    password:

    # Optional Settings
    #oupath:
    #admin_users:
    #admin_groups:
    #ec2config:
    #tries:

    ################################
    # Linux-specific pillar settings
    ################################

    # Required domain-specific settings
    dns_name:
    netbios_name:
    username:

    # Mutually Exclusive Required Settings
    encrypted_password:
    key:
    # or
    password:

    # Optional domain-specific settings
    #ad_site_name:
    #oupath:
    #admin_users:
    #admin_groups:
    #  - linux^admins
    #login_users:
    #login_groups:
    #  - linux^operators
    #trusted_domains
    #  - trusted.ad.domain1
    #  - trusted.ad.domain2
    #  - ...
    #  - trusted.ad.domainn

    # AD-connector Tool
    #ad_connector: pbis

    # List of RPM sources to install
    #connector_rpms:
    #  - pbis-open-legacy: https://s3.amazonaws.com/bits-public/beyond-trust/pbiso/pbis-open-legacy-8.5.3-293.x86_64.rpm
    #  - pbis-open: https://s3.amazonaws.com/bits-public/beyond-trust/pbiso/pbis-open-8.5.3-293.x86_64.rpm
    #  - pbis-open-devel: https://s3.amazonaws.com/bits-public/beyond-trust/pbiso/pbis-open-devel-8.5.3-293.x86_64.rpm
    #  - pbis-open-gui: https://s3.amazonaws.com/bits-public/beyond-trust/pbiso/pbis-open-gui-8.5.3-293.x86_64.rpm
    #  - pbis-open-upgrade: https://s3.amazonaws.com/bits-public/beyond-trust/pbiso/pbis-open-upgrade-8.5.3-293.x86_64.rpm

    # Directories where PBIS is installed to the system
    #install_bin_dir: /opt/pbis
    #install_var_dir: /var/lib/pbis
    #install_db_dir: /var/lib/pbis/db

    # List of critical files to look for
    #check_files:
    #  - registry.db
    #  - sam.db
    #  - lwi_events.db
    #  - lsass-adcache.filedb.FQDN

    # Whether to try to use AD-integration subsystem's associated utility for
    # issuing a DDNS update request.
    #    Note: this is only known to work with DNS systems based on Microsoft's
    #          DNS-integrated Active Directory service.
    #update-dns: true
