name: Run salt tests
on:
  pull_request:

concurrency:
  group: test-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    uses: plus3it/actions-workflows/.github/workflows/test-salt-linux.yml@72a8659c8716b3fbf6e9ea01b53b2f83c0b6d6d8
    strategy:
      matrix:
        os_version:
          - 7
          - 8
        salt_state:
          - join-domain
        salt_pillar_root:
          - ./tests/pillar/test-linux-main
    with:
      salt-os-version: ${{ matrix.os_version }}
      salt-state: ${{ matrix.salt_state }}
      salt-pillar-root: ${{ matrix.salt_pillar_root }}

  windows:
    uses: plus3it/actions-workflows/.github/workflows/test-salt-windows.yml@72a8659c8716b3fbf6e9ea01b53b2f83c0b6d6d8
    strategy:
      matrix:
        os_version:
          - windows-2019
          - windows-2022
        salt_state:
          - join-domain
        salt_pillar_root:
          - ./tests/pillar/test-windows-main
    with:
      salt-os-version: ${{ matrix.os_version }}
      salt-state: ${{ matrix.salt_state }}
      salt-pillar-root: ${{ matrix.salt_pillar_root }}
